.cards2:hover {
    transform: scale(1.04); 
  }

.cards2 {
    transition: transform 0.3s;
    flex: 0 0 auto;
    width: 300px;
    max-width: 20%; /* Ancho fijo para cada tarjeta (ajusta según tus necesidades) */
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    background-color: white;
    border: none;
    border-radius: 0;
}
  
.cards2 img {
    max-height: 70%;
    height: 200px;
}
  
    
  
@media (max-width: 768px) {
    .cards2 img {
        height: 50%;
    }
    .cards2{
      height: 25vh;
      min-width: 30%;
    }
}