.cards2-wrapper {
    display: flex;
    overflow-x: auto; /* Permite el scroll horizontal */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px; /* Espacio en los extremos del contenedor */
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
  }
  
.cards2-wrapper::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit (Chrome, Safari) */
  }
  
.card2:hover {
    transform: scale(1.04); 
  }

.card2 {
    transition: transform 0.3s;
    flex: 0 0 auto;
    width: 300px;
    max-width: 20%; /* Ancho fijo para cada tarjeta (ajusta según tus necesidades) */
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    background-color: white;
    border: none;
    border-radius: 0;
}
  
.card2 img {
    max-height: 70%;
    height: 200px;
}
  
    
  
@media (max-width: 768px) {
    .card2 img {
        height: 50%;
    }
    .head-slider {
      height: 25vh;
      min-width: 30%;
    }
}