.text-color {
    color: #57412E;
    font-weight: bold;
    margin-top: 1em;
}
.nav-tabs .nav-link.active {
    background-color: #A37B57;
    color: #fff; /* Cambia el color del texto de las pestañas seleccionadas */
}
.btn-custom {
    width: 100%; /* Establece el ancho deseado para los botones */
    max-width: 200px; /* Establece el ancho máximo si lo deseas */
}

.btn-container {
    width: 100%;
    margin-bottom: 20px;
}

.tabs-letter {
    color: #fff;
    font-weight: bold;
    background: #F0D2B9;
}

.card.shadow-2-strong {
    background-color: #F0D2B9;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus {
    background-color: #F0D2B9 /* Color de fondo para el tab activo */
  }
  
.nav-tabs .nav-link {
    background-color: #c98f60; /* Color de fondo para los tabs inactivos */
  }

.animated-catalogo {
    transition: transform 0.6s;
    height:50%;
    width: 350px;
  }

  .animated-catalogo:hover {
    transform: scale(1.04); 
  }
