.titleCards {
  color: black;
  text-align: center;
  margin-top: 1em;
  font-weight: bold; 
}

/* Establece un tama침o m치ximo para las im치genes en el carrusel */
.carousel-img {
  max-width: 100%;
  max-height: 600px;
  min-height: 600px;
  background-size: cover;
  margin: 0 auto; /* Centra las im치genes horizontalmente */
}
