
.bold-text {
    color: #57412E;
    font-weight: bold;
}

.contenedor-imagen-muestra{
  height: 120vh;
  width: 100%;
}
.imagen-muestra{
  height: 90%;
  width: 100%;
}

.animated{
  transition: transform 0.3s;
}

.animated:hover{
  transform: scale(1.03);
}
