.text-color-cc {
    color: #57412E;
    font-weight: bold;
    margin-top: 0.5em;
}
.text-color-df {
    color: #57412E;
    font-weight: bold;
}
.dropdownWrapperstyle {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}
  .dropdownMenustyle {
    width: 100%;
    background-color: #fff;
}