.text-color-cc {
    color: #57412E;
    font-weight: bold;
    margin-top: 0.5em;
}
.text-color-df {
    color: #57412E;
    font-weight: bold;
}
.dropdownMenustyle {
    width: 100%;
    background-color: #fff;
}

.no-libros{
    height: 100%;
    width: 100%;
}

.no-libros-texto{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}